.WholePageProcess {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.processBox {
  margin-left: 7%;
  margin-bottom: 50px;
  width: 70%;
}

.processSubHeading {
  font-size: 22px;
  color: #ff304f;
  font-weight: lighter;
}

.processTitle {
  font-size: 30px;
  font-family: monospace;
}

.processDescription {
  margin-top: 24px;
}

.topSubHeading {
  margin-top: 55px;
}

#computerDiscovery {
  width: 100px;
  height: 100px;
}

.iconAlign {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  width: 10%;
}

.youtubeVideoSkills {
  margin-top: 10%;
}

.processColumn {
  width: 50%;
}

.videoColumn {
  width: 50%;
}

@media screen and (min-width: 1930px) {
  .processColumn {
    width: 50%;
  }
  
  .videoColumn {
    width: 50%;
  }
  
}


@media screen and (max-width: 1440px) {
  .processColumn {
    width: 60%;
  }
  
  .videoColumn {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {

  #processContainer {
    flex-direction: column;
  }

  .processColumn {
    width: 90%;
  }
  
  .videoColumn {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {

  .iconAlign { 
    margin-left: 6%
  }
  .processBox {
    margin-left: 15%
  }
}