@media screen and (max-width: 3760px) {
  nav {
    left: 15%;
  }
}

@media screen and (max-width: 1896px) {
  nav {
    padding-left: 12%;
  }
}

nav {
  top: 2.8%;
  position: absolute;
  transform: translate(-50%, -50%);
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  color: #fffee6;
  display: block;
  position: relative;
  line-height: relative;
  perspective: 1.25rem;
  perspective: 12.5rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.9375rem 1.875rem;
  transition: all 0.3s linear;
}

a:not(.active):hover .link-space {
  transform: translateZ(-1.5625rem) rotateX(90deg);
}

.link-space {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  pointer-events: none;
  transition: all 0.3s ease-out;
  transform-style: preserve-3d;
}

.fare {
  transform: rotateX(0deg) translateZ(1.5625rem);
}

.back {
  transform: rotateX(-90deg) translateZ(1.5625rem);
}

.fare,
.back {
  width: 100%;
  height: 100%;
  color: black;
  display: block;
  position: absolute;
  background: #fffee6;
  box-sizing: border-box;
  padding: 0.9375rem 1.875rem;
}

nav li a:hover .fare,
nav li a:hover .back {
  color: #fffee6;
  background-color: #d02e77;
  background-size: 0.3125rem 0.3125rem;
}
