.body-about-skills {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  width: 100%;
}

.services-section {
  background-size: cover;
  padding: 60px 0;
  background: #f0f0ec;
}

.inner-width {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.section-title {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 30px;
}

.border {
  width: 160px;
  height: 2px;
  background: #ff304f;
  margin: 40px auto;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.service-box {
  max-width: 50%;
  padding: 10px;
  text-align: center;
  color: black;
  cursor: pointer;
  width: 580px;
  height: 240px;
}

.service-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #ff304f;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}

.service-icon i {
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}

.service-box:hover .service-icon {
  background: #ff304f;
  color: black;
}

.service-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 800;
}

.responsiveIcon {
  transform: rotate(-45deg);
  width: 65px;
}

.logic {
  width: 42px;
  transform: rotate(-45deg);
  margin-top: 11px;
}

.service-desc {
  font-size: 14px;
}

.Technology {
  margin-top: 10px;
  font-weight: initial;
  color: #002651;
  font-size: 16px;
}
