.contactPageBody {
  height: 100%;
  width: 100%;
  margin: 0px;
  background: url("./ContactPage.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactformPage {
  width: 450px;
  border: 5px solid black;
  border-radius: 3%;
  background-color: white;
}
.ContactPagename {
  margin-left: 50px;
  height: 35px;
}

.otherPage {
  display: flex;
  height: 35px;
  width: 330px;
}

.ContactPageinputTitle {
  margin-top: 20px;
}

.contactPageTextField {
  height: 90px;
}

.ContactPageTitle {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.SubmitButton {
}

#contactPageLastName {
  height: 35px;
  margin-left: 30px;
}

.submitButtonPage {
  border: 5px solid #ff304f;
  color: #fff;
  background-color: #ff304f;
  width: 150px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #ff304f;
  align-items: center;
  margin-left: 125px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 30px;
}


@media screen and (max-width: 460px) {
  .contactformPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ContactPagename {
    width: 240px;
    margin: 0px;
  }

  #contactPageLastName  {
    margin: 0px;
  }

  .submitButtonPage {
    margin: 20px 0px;
  }

}