* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.BannerContainer {
  width: 100%;
  height: 100%
}

.Banner {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-image: url("./background.jpg");
  color: #fff;
  text-shadow: 0 0 10px;
  overflow: hidden;
}

.fulllight {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.subHeadingBox {
  display: flex;
  background: #000;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
}

.subHeading {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}

.bannerButton {
  position: relative;
  color: #fffee6;
  display: inline-block;
  margin: 40px 0;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  letter-spacing: 4px;
  padding: 25px 30px;
}
.overallbanneButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #fff;
  text-shadow: 0 0 10px;
}
.bannerButton:hover {
  background: #fffee6;
  color: #050801;
  box-shadow: 0 0 5px #fffee6, 0 0 25px #fffee6, 0 0 50px #fffee6,
    0 0 200px #fffee6;
}

.bannerButton span {
  position: absolute;
  display: block;
}

.bannerButton span:nth-child(1) {
  top: 0;
  left: -100;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fffee6);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.bannerButton span:nth-child(2) {
  top: -100;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fffee6);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.bannerButton span:nth-child(3) {
  bottom: 0;
  right: -100;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fffee6);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.bannerButton span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fffee6);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.welcome {
  font-size: 6em;
  color: #fff;
  font-weight: 500;
  text-decoration: underline 200px #fffee6;

  animation: text 3s 1;
}

@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

.ball {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(red, rgb(143, 5, 5), rgb(95, 95, 60));
}

.bounce {
  animation: bounce 3.14s linear 0s infinite alternate;
}

.bounceA {
  animation: bounceA 1.03s ease-in 0s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(100vw - 10vmin));
  }
}

@keyframes bounceA {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(90vh);
  }
}

@media screen and (max-width: 860px) {
  .welcome {
    font-size: 3em;
  }

  .subHeading {
    font-size: 20px;
  }

}

@media screen and (max-width: 400px) {
  .welcome {
    font-size: 2em;
  }

  .subHeading {
    font-size: 16px;
  }

}
